apiVersion: v1
kind: Service
metadata:
  name: kuberhealthy
  namespace: kuberhealthy
  labels:
    app: kuberhealthy
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: /metrics
spec:
  selector:
    app: kuberhealthy
  ports:
  - name: http
    port: 8080
    targetPort: 8080
