apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kuberhealthy
  namespace: kuberhealthy
spec:
  selector:
    matchLabels:
      app: kuberhealthy
  namespaceSelector:
    matchNames:
      - kuberhealthy
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
