# Default values for kuberhealthy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

prometheus:
  enabled: false
  name: "prometheus"
  release: prometheus-operator
  enableScraping: false
  serviceMonitor: false
  enableAlerting: false

image:
  repository: kuberhealthy/kuberhealthy
  tag: v2.1.2

resources:
  requests:
    cpu: 400m
    memory: 300Mi
  limits:
    cpu: 2m
    memory: 1G1

tolerations:
  # change to true to tolerate and deploy to masters
  master: false

deployment:
  replicas: 2
  maxSurge: 0
  maxUnavailable: 1
  imagePullPolicy: IfNotPresent
  nodeSelector: {}
  podAnnotations: {}
  env: {}
  command:
  - /app/kuberhealthy
  # args:

securityContext:
  runAsNonRoot: true
  runAsUser: 999
  allowPrivilegeEscalation: false

# Please remember that changing the service type to LoadBalancer
# will expose Kuberhealthy to the internet, which could cause
# error messages shown by Kuberhealthy to be exposed to the
# public internet.  It is recommended to create the service
# with ClusterIP, then to manually edit the service in order to
# securely expose the port in an appropriate way for your
# specific environment.
service:
  externalPort: 80
  type: ClusterIP
  annotations: {}

check:
  daemonset:
    enabled: true
    image:
      repository: kuberhealthy/daemonset-check
      tag: v2.2.1
    extraEnvs:
    nodeSelector: {}
  deployment:
    enabled: true
    image:
      repository: kuberhealthy/deployment-check
      tag: v1.3.4
    extraEnvs:
      CHECK_DEPLOYMENT_REPLICAS: "4"
      CHECK_DEPLOYMENT_ROLLING_UPDATE: "true"
    nodeSelector: {}
  dnsInternal:
    enabled: true
    image:
      repository: kuberhealthy/dns-resolution-check
      tag: v1.2.0
    extraEnvs:
      HOSTNAME: "kubernetes.default"
    nodeSelector: {}
  podRestarts:
    enabled: false
    image:
      repository: kuberhealthy/pod-restarts-check
      tag: v2.2.1
    extraEnvs:
      MAX_FAILURES_ALLOWED: "10"
    nodeSelector: {}
  podStatus:
    enabled: false
    image:
      repository: kuberhealthy/pod-status-check
      tag: v1.2.2
    extraEnvs:
    nodeSelector: {}

checkReaper:
  image:
    repository: kuberhealthy/check-reaper
    tag: v1.3.1
  nodeSelector: {}
