---
apiVersion: {{ template "rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ template "kuberhealthy.name" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "kuberhealthy.name" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "kuberhealthy.name" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
---
apiVersion: {{ template "rbac.apiVersion" . }}
kind: ClusterRoleBinding
metadata:
  name: {{ template "kuberhealthy.name" . }}-daemonset-khcheck
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "kuberhealthy.name" . }}-daemonset-khcheck
subjects:
- kind: ServiceAccount
  name: daemonset-khcheck
  namespace: {{ .Values.namespace | default .Release.Namespace }}
