---
apiVersion: {{ template "rbac.apiVersion" . }}
kind: ClusterRole
metadata:
  name: {{ template "kuberhealthy.name" . }}
rules:
  - apiGroups: ["kuberhealthy.github.io"]
    resources:
      - healthchecks
      - healthchecks/finalizers
      - healthchecks/status
    verbs: ["create","delete","get","list","patch","update","watch"]
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - events
    verbs: ["create","delete","get","list","patch","update","watch"]
{{- if .Values.podSecurityPolicy.enabled }}
  - apiGroups:
      - extensions
    resourceNames:
      - {{ template "kuberhealthy.name" . }}-psp
    resources:
      - podsecuritypolicies
    verbs:
      - use
{{- end }}
