---
{{- $podAnnotations := dict -}}
{{- if .Values.deployment.prometheusScrape.enabled -}}
{{- $_ := set $podAnnotations "prometheus.io/scrape" "true" -}}
{{- $_ := set $podAnnotations "prometheus.io/port" (.Values.deployment.prometheusScrape.port | toString) -}}
{{- $_ := set $podAnnotations "prometheus.io/path" (.Values.deployment.prometheusScrape.path | toString) -}}
{{- end -}}
{{- range $key, $value := .Values.deployment.podAnnotations }}
{{- $_ := set $podAnnotations $key $value -}}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "kuberhealthy.name" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: {{ template "kuberhealthy.name" . }}
    {{- with .Values.deployment.customLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: {{ template "kuberhealthy.name" . }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.deployment.maxSurge }}
      maxUnavailable: {{ .Values.deployment.maxUnavailable }}
    type: RollingUpdate
  template:
    metadata:
      {{- if $podAnnotations }}
      annotations:
      {{- range $key, $value := $podAnnotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
      labels:
        app: {{ template "kuberhealthy.name" . }}
        {{- with .Values.pod.customLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ template "kuberhealthy.name" . }}
      automountServiceAccountToken: true
      {{- if .Values.deployment.priorityClassName }}
      priorityClassName: {{ .Values.deployment.priorityClassName }}
      {{- end}}
{{- if or .Values.deployment.affinity  .Values.deployment.podAntiAffinity }}
      affinity:
{{- if .Values.deployment.affinity }}
{{ toYaml .Values.deployment.affinity | indent 8 }}
{{- end }}
{{- if eq .Values.deployment.podAntiAffinity "hard"}}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ template "kuberhealthy.name" . }}
            topologyKey: "kubernetes.io/hostname"
{{else if eq .Values.deployment.podAntiAffinity "soft"}}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "kuberhealthy.name" . }}
              topologyKey: "kubernetes.io/hostname"
{{- end }}
{{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml .Values.imagePullSecrets | indent 2 }}
      {{- end }}
      {{- if .Values.deployment.tolerations }}
      tolerations:
{{ toYaml .Values.deployment.tolerations | indent 8 }}
      {{- end }}
      containers:
      {{- if .Values.imageURL }}
      - image: "{{ .Values.imageURL }}"
      {{- else if .Values.image.registry }}
      - image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion}}"
      {{- end }}
        command: {{ .Values.deployment.command }}
        {{- if .Values.deployment.args }}
        args:
{{ toYaml .Values.deployment.args | nindent 8 }}
        {{- end }}
        ports:
        - containerPort: 8080
          name: http
        securityContext:
          runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
          runAsUser: {{ .Values.securityContext.runAsUser }}
          allowPrivilegeEscalation: {{ .Values.securityContext.allowPrivilegeEscalation }}
          readOnlyRootFilesystem: {{ .Values.securityContext.readOnlyRootFilesystem }}
          {{- if .Values.securityContext.seccompProfile }}
          seccompProfile:
            {{- toYaml .Values.securityContext.seccompProfile | nindent 12 }}
          {{- end }}
        imagePullPolicy: {{ .Values.deployment.imagePullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        name: {{ template "kuberhealthy.name" . }}
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- range $key, $value := .Values.deployment.env }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- if not (hasKey .Values.deployment.env "KH_CHECK_REPORT_URL") }}
          - name: KH_CHECK_REPORT_URL
            value: "http://{{ template "kuberhealthy.name" . }}.{{ .Values.namespace | default .Release.Namespace }}.svc.cluster.local"
          {{- end }}
          {{- if not (hasKey .Values.deployment.env "KH_DEFAULT_NAMESPACE") }}
          - name: KH_DEFAULT_NAMESPACE
            value: {{ (.Values.namespace | default .Release.Namespace) | quote }}
          {{- end }}
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
      {{- if .Values.deployment.nodeSelector }}
      nodeSelector:
{{- toYaml .Values.deployment.nodeSelector | nindent 8 }}
      {{- end }}
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
