{{- if .Values.check.deployment.enabled }}
---
apiVersion: comcast.github.io/v1
kind: KuberhealthyCheck
metadata:
  name: deployment
  namespace: {{ .Values.namespace | default .Release.Namespace }}
spec:
  runInterval:  {{ .Values.check.deployment.runInterval }}
  timeout: {{ .Values.check.deployment.timeout }}
  podSpec:
    {{- if .Values.securityContext.enabled }}
    securityContext:
      runAsUser: {{ .Values.securityContext.runAsUser }}
      fsGroup: {{ .Values.securityContext.fsGroup }}
      {{- if .Values.securityContext.seccompProfile }}
      seccompProfile:
        {{- toYaml .Values.securityContext.seccompProfile | nindent 8 }}
      {{- end }}
    {{- end}}
    {{- if .Values.imagePullSecrets }}
    imagePullSecrets:
      {{ toYaml .Values.imagePullSecrets | indent 2 }}
    {{- end }}
    containers:
    - name: deployment
      {{- if .Values.imageRegistry }}
      image: "{{ .Values.imageRegistry }}/{{ .Values.check.deployment.image.repository }}:{{ .Values.check.deployment.image.tag }}"
      {{- else if .Values.check.deployment.image.registry }}
      image: "{{ .Values.check.deployment.image.registry }}/{{ .Values.check.deployment.image.repository }}:{{ .Values.check.deployment.image.tag }}"
      {{- end }}
      imagePullPolicy: IfNotPresent
      env:
{{- range $key, $value := .Values.check.deployment.extraEnvs }}
        - name: {{ $key }}
          value: {{ $value | quote }}
{{- end }}
      resources:
        requests:
          cpu: {{ .Values.check.deployment.resources.requests.cpu }}
          memory: {{ .Values.check.deployment.resources.requests.memory }}
        {{- if .Values.check.deployment.resources.limits }}
        limits:
          {{- if .Values.check.deployment.resources.limits.cpu }}
          cpu: {{ .Values.check.deployment.resources.limits.cpu }}
          {{- end }}
          {{- if .Values.check.deployment.resources.limits.memory }}
          memory: {{ .Values.check.deployment.resources.limits.memory }}
          {{- end }}
        {{- end }}
{{- if .Values.securityContext.enabled }}
      securityContext:
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
        allowPrivilegeEscalation: {{ .Values.securityContext.allowPrivilegeEscalation }}
        readOnlyRootFilesystem: {{ .Values.securityContext.readOnlyRootFilesystem }}
{{- end}}
    restartPolicy: Never
    {{- if .Values.check.deployment.nodeSelector }}
    nodeSelector:
{{- toYaml .Values.check.deployment.nodeSelector | nindent 6 }}
    {{- end }}
    {{- if .Values.check.deployment.tolerations }}
    tolerations:
{{- toYaml .Values.check.deployment.tolerations | nindent 6 }}
    {{- end }}
    serviceAccountName: deployment-sa
    terminationGracePeriodSeconds: 60
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: deployment-check-rb
  namespace: {{ .Values.namespace | default .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: deployment-service-role
subjects:
  - kind: ServiceAccount
    name: deployment-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: deployment-service-role
  namespace: {{ .Values.namespace | default .Release.Namespace }}
rules:
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: deployment-sa
  namespace: {{ .Values.namespace | default .Release.Namespace }}
{{- end }}
