{{- if .Values.check.daemonset.enabled }}
---
apiVersion: comcast.github.io/v1
kind: KuberhealthyCheck
metadata:
  name: daemonset
  namespace: {{ .Release.Namespace }}
spec:
  runInterval: 15m
  timeout: 12m
  podSpec:
    containers:
      - env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: CHECK_POD_TIMEOUT
            value: "10m"
{{- range $key, $value := .Values.check.daemonset.extraEnvs }}
          - name: {{ $key }}
            value: {{ $value | quote }}
{{- end }}
        image: {{ .Values.check.daemonset.image.repository }}:{{ .Values.check.daemonset.image.tag }}
        imagePullPolicy: IfNotPresent
        name: main
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
    {{- if .Values.check.daemonset.nodeSelector }}
    nodeSelector:
{{- toYaml .Values.check.daemonset.nodeSelector | nindent 6 }}
    {{- end }}
    serviceAccountName: daemonset-khcheck
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: daemonset-khcheck
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ds-admin
subjects:
  - kind: ServiceAccount
    name: daemonset-khcheck
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ds-admin
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
      - extensions
      - apps
    resources:
      - daemonsets
      - pods
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: daemonset-khcheck
  namespace: {{ .Release.Namespace }}
{{- end }}

