{{- if .Values.prometheus.enabled -}}
{{- if .Values.prometheus.serviceMonitor.enabled -}}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: {{ template "kuberhealthy.name" . }}
    prometheus: {{ .Values.prometheus.name }}
    release: {{ .Values.prometheus.release }}
  name: {{ template "kuberhealthy.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  jobLabel: component
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
  - port: http
    interval: {{ .Values.prometheus.serviceMonitor.endpoints.interval }}
    {{- if .Values.prometheus.serviceMonitor.endpoints.bearerTokenFile }}
    bearerTokenFile: {{ .Values.prometheus.serviceMonitor.endpoints.bearerTokenFile }}
    {{- end }}
{{- end -}}
{{- end -}}

