---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ template "kuberhealthy.name" . }}
  name: {{ template "kuberhealthy.name" . }}
  namespace: {{ .Release.Namespace }}
  {{- if or .Values.prometheus.enabled .Values.service.annotations }}
  annotations:
  {{- if and .Values.prometheus.enabled (not .Values.prometheus.serviceMonitor.enabled) }}
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
  {{- end }}
  {{- range $key, $value := .Values.service.annotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.externalPort }}
    name: http
    targetPort: http
  selector:
    app: {{ template "kuberhealthy.name" . }}

