apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: kuberhealthy
  namespace: kuberhealthy
spec:
  selector:
    matchLabels:
      app: kuberhealthy
  namespaceSelector:
    matchNames:
      - kuberhealthy
  podMetricsEndpoints:
    - targetPort: 8080
      path: /metrics
      interval: 30s
