name: End to End Kuberhealthy Test

on:
  pull_request:
    branches:
      - master
      - main
      - v3
  push:
    branches:
      - master
      - main
      - release/*
      - actions # for testing this build spec

jobs:
  build-image:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.build.outputs.image }}
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21.5'
      - uses: actions/checkout@v4
      - name: Build container
        id: build
        run: |
          IMAGE="kuberhealthy-e2e:${GITHUB_RUN_ID}"
          echo "IMAGE=$IMAGE"
          docker build --file cmd/kuberhealthy/Containerfile --tag "$IMAGE" .
          echo "image=$IMAGE" >> "$GITHUB_OUTPUT"
      - name: Export image
        run: docker save ${{ steps.build.outputs.image }} -o kuberhealthy.tar
      - uses: actions/upload-artifact@v4
        with:
          name: kh-image
          path: kuberhealthy.tar

  e2e:
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21.5'
      - uses: actions/checkout@v4
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.20.0"
      - uses: actions/download-artifact@v4
        with:
          name: kh-image
      - name: Load image into kind
        run: kind load image-archive kuberhealthy.tar
      - name: Run end to end test
        env:
          IMAGE_URL: ${{ needs.build-image.outputs.image }}
        run: ./tests/.ci/e2e.sh "${IMAGE_URL}"
