# This workflow updates the helm repo index.yaml & .tgz files when a release created.
# ***Please note that it will trigger if the published release is draft or official***

name: Update Helm Repo Files
on:
  release:
    types: [published]
  push:
    branches:
      - master
    paths:
      - 'deploy/helm/kuberhealthy/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/Checkout@v2.0.0
      with:
        ref: master
 
    - name: modify Chart.yaml if triggered by new published release tag
      if: ${{ github.ref == 'v[0-9]+.[0-9]+.[0-9]+' }}
      run: sed -i -e "s/^appVersion:.*/appVersion: ${GITHUB_REF##*/}/" ./deploy/helm/kuberhealthy/Chart.yaml
      run: sed -i -e "s/^version:.*/version: $GITHUB_RUN_ID/" ./deploy/helm/kuberhealthy/Chart.yaml

    - name: modify Chart.yaml if triggered by ./deploy/helm/kuberhealthy modification
      if: ${{ github.ref != 'v[0-9]+.[0-9]+.[0-9]+' }}
      run: sed -i -e "s/^version:.*/version: $GITHUB_RUN_ID/" ./kuberhealthy/Chart.yaml

        
# script with "helm repo" cmds and GH env vars which runs if a new release tag with symantic version is published
    - name: update with version tag
      if: ${{ github.ref == 'v[0-9]+.[0-9]+.[0-9]+' }}
      uses: stefanprodan/kube-tools@v1
      with:
        helmv3: 3.2.1
        command: | 
          helmv3 version
          alias helm="helmv3"
          cd ./deploy/helm/
          ./helm-repo-update_withTag.sh
          #./helm-repo-update.sh          

# script with "helm repo" cmds and GH env vars which runs if a change to 'deploy/helm/kuberhealthy/**' is pushed to master
    - name: update without version tag
      if: ${{ github.ref != 'v[0-9]+.[0-9]+.[0-9]+' }}
      uses: stefanprodan/kube-tools@v1
      with:
        helmv3: 3.2.1
        command: | 
          helmv3 version
          alias helm="helmv3"
          cd ./deploy/helm/
          ./helm-repo-update_withoutTag.sh
          #./helm-repo-update.sh
#
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v2.4.4
      with:
        # GITHUB_TOKEN or a repo scoped PAT
        token: ${{ secrets.GITHUB_TOKEN }}
        # Relative path under $GITHUB_WORKSPACE to the repository.
        #path: # optional
        # The message to use when committing changes.
        commit-message: "Package and Index for Helm Repo"
        # The committer name and email address.
        #author: "GitHub Automatic Template Render Job"
        # The author name and email address.
        committer: "Github Actions <action@github.com>"
        # The title of the pull request.
        title: "Package and Index for Helm Repo"
        # The body of the pull request.
        body: "An automatic PR for updating of the Helm Repo based on releases tag."
        # A comma separated list of labels.
        #labels: # optional
        # A comma separated list of assignees (GitHub usernames).
        #assignees: # optional
        # A comma separated list of reviewers (GitHub usernames) to request a review from.
        #reviewers: # optional
        # A comma separated list of GitHub teams to request a review from.
        #team-reviewers: # optional
        # The number of the milestone to associate this pull request with.
        #milestone: # optional
        # The name of the project for which a card should be created.
        #project: # optional
        # The name of the project column under which a card should be created.
        #project-column: # optional
        # The pull request branch name.
        branch: helm_repo_update
        # The pull request base branch.
        base: master
        # The branch suffix type.
        #branch-suffix: # optional
